{block obsah}
				<h1>Nahrání obrázku</h1>
				<div class="vytvoreni-noveho-uzivatele">
				{form nahraniSouboruForm}
            <ul class="errors" n:if="$form->hasErrors()">
               <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
				<table>
					<tr>
					<td>
					{label soubor class => 'required' /}
					<p class="doplnujici-info">(Max. velikost {$maxVelikost}B)</p>
					</td>
					<td>
					{input soubor}
					</td>
					</tr>
					<tr>
					<td>
					{label nazev /}
					</td>
					<td>
					{input nazev}
					</td>
					</tr>
					<tr>
					<td>
					{label alternativniText /}
					</td>
					<td>
					{input alternativniText}
					</td>
					</tr>
					<tr>
					<td>
					{label titulek /}
					</td>
					<td>
					{input titulek}
					</td>
					</tr>
					<tr>
					<td>
					{input nahrat}
					</td>
					<td>
					<label class="required">* </label><em class="doplnujici-info">Povinně vyplňované položky</em>
					</td>
					</tr>
				</table>
				{/form}
				</div>
{/block}