{block obsah}
				<h1>Upravení mediálního souboru</h1>
				<div class="vytvoreni-noveho-uzivatele">
				{form upraveniMediaForm}
            <ul class="errors" n:if="$form->hasErrors()">
               <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
				<table>
					<tr>
					<td>
					<a href="{$medium->adresa}"><img src="{$medium->adresa}" width="50" height="50" class="miniatura"></a>
					</td>
					<td>
					</td>
					</tr>
					<tr>
					<td>
					{label nazev/}
					</td>
					<td>
					{input nazev value => "{$medium->nazev}"}
					</td>
					</tr>
					<tr>
					<td>
					{label alternativniText/}
					</td>
					<td>
					{input alternativniText value => "{$medium->alternativni_text}"}
					</td>
					</tr>
					<tr>
					<td>
					{label titulek/}
					</td>
					<td>
					{input titulek value => "{$medium->titulek}"}
					</td>
					</tr>
					<tr>
					<td>
               {input idMedia value => "{$medium->id}"}
					{input upravit}
					</td>
					<td>
					<label class="required">* </label><em class="doplnujici-info">Povinně vyplňované položky</em>
					</td>
					</tr>
				</table>
				{/form}	
				</div>
{/block}			