{block obsah}
<style type="text/css">
input[type=radio] {
   margin-top: 20px;
}
</style>
				<div class="zarovnaniVlevo">
					<a n:href="vytvoreniRubriky" class="tlacitko odsadVlevo">Vytvořit novou rubriku</a>
				</div>
				<div class="oddelovac"></div>
				<h1>Přehled Rubrik</h1>
    
					<table class="tabulka-vypis-uzivatelu">
						<thead><tr><th>Název</th><th>Název v URL</th><th>Autor</th></tr></thead>
						<tbody>
                     {if $rubriky == false} 
							<tr><td colspan="3">Zatím nebyly vytvořeny žádné rubriky</td></tr>
							{else}
							{!$rubriky}
							{/if}
                  </tbody>
						<tfoot><tr><td></td><td></td><td></td></tr></tfoot>
					</table>			
{/block}
{block modalniOkno}
    <!-- #customize your modal window here -->
 
    <div id="dialog" class="window">
    <div id="window-hlavicka">Smazání rubriky<a href="#" class="close"><img src="{$basePath}/images/button-cross1.png" width="32"/></a></div>
       <div id="window-telo">
       <em>Chceteli smazat rubriku, musíte určit co se má provést s jejím obsahem (stránkami, které obsahuje)<br /> 
       <strong>Pozor: Akce smazání stránek, jež rubrika obsahuje je nevratná! </strong>
       </em>
       <p style="margin-top: 15px;">Co chcete dělat s obsahem mazané rubriky?</p>

       {form smazaniRubrikyForm}
       <p style="margin-top: 5px;float:left;">{input akce}</p>
       <p style="margin-top: 50px;float:left;margin-left:15px;"><select n:input="rubriky"><option value="0" selected="selected" style="width: 150px;">Žádná</option></select></p>
       {input idRubriky}
       <p style="margin-top: 20px;clear:both;clear:left;float:left;margin-left:10px;">{input smazatRubriku}</p>
       <p style="clear:both;"></p>
       {/form}

       
       </div> 
 
    </div>
{/block}
{block pomocneSkripty}
<script>
$(function(){  

   $(".odstranit:not(a[data-odstranitBezModalniOkna=ne])").bind("click", function(event) {
		//event.preventDefault();
		if (confirm('Opravdu si přejete danou položku odstranit?')) {
			return true;
		}
		else {
			return false;
		}
	});
   
   //select all the a tag with name equal to modal
    $('a[name=modal]:not(a[data-odstranitBezModalniOkna=ano])').click(function(e) {
        //Cancel the link behavior
        e.preventDefault();
        //Get the A tag
        var id = $(this).attr('data-dialog');
        
        idRubriky = $(this).attr("data-idRubriky");
        $('input[name=idRubriky]').val(idRubriky);
        
        $.get({link vratRubriky!}, { id: idRubriky }, function(data) {
         $("#window-telo select").append(data.rubrikyNabidka);
      });
        
        //Get the screen height and width
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();
     
        //Set height and width to mask to fill up the whole screen
        $('#mask').css({'width':maskWidth,'height':maskHeight});
         
        //transition effect    
        $('#mask').fadeIn(300);   
        $('#mask').fadeTo(300,0.8); 
     
        //Get the window height and width
        var winH = $(window).height();
        var winW = $(window).width();
               
        //Set the popup window to center
        $(id).css('top',  winH/2-$(id).height()/2);
        $(id).css('left', winW/2-$(id).width()/2);
     
        //transition effect
        $(id).fadeIn(300);
     
    });
     
    //if close button is clicked
    $('.window .close').click(function (e) {
        //Cancel the link behavior
        e.preventDefault();
        $('#mask, .window').hide();
    });    
     
    //if mask is clicked
    $('#mask').click(function () {
        $(this).hide();
        $('.window').hide();
    });   

	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseover", function() {
		$(this).find(".hidden-tools span").css("display", "inline");	
	});
	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseout", function() {
		$(this).find(".hidden-tools span").css("display", "none");	
	});
	
	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseover", function() {
		$(this).find(".hidden-tools span").css("display", "inline");	
	});
	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseout", function() {
		$(this).find(".hidden-tools span").css("display", "none");	
	});
});
</script>
{/block}