{block obsah}
				<h1>Vytvoření nové rubriky</h1>
               {if $user->isInRole("Redaktor") && !$user->isInRole("Šéfredaktor")}
               <p style="text-align:left;margin-left: 60px;">Nemáte oprávnění tvořit rubriky!<p>
               {else}
               <div class="vytvoreni-noveho-uzivatele">
               {form vytvoreniRubrikyForm}
               <ul class="errors" n:if="$form->hasErrors()">
                  <li n:foreach="$form->errors as $error">{$error}</li>
               </ul>
               <table>
                  <tr>
                  <td>
                  {label nazev class => 'required' /}
                  </td>
                  <td>
                  {input nazev}
                  </td>
                  </tr>
                  <tr>
                  <td>
                  {label nazevVUrl /}
                  </td>
                  <td>
                  {input nazevVUrl}
                  </td>
                  </tr>
                  <tr>
                  <td>
                  {label hiearchie /}
                  </td>
                  <td>
                  <select n:input="hiearchie" disabled="true">
                  <option value="0" selected="selected">Žádná</option>
                  {!$rubriky}
                  </select>
                  </td>
                  </tr>
                  <tr id="tr-radioInputy">
                  <td>{label typObsahuRubriky /}</td><td>{input typObsahuRubriky}</td>
                  </tr>
                  <tr id="radek-s-vlasnim-obsahem" style="background:transparent;display:none;">
                  <td colspan="2" id="rubrika-textarea2">{input obsahRubriky}</td>
                  </tr>
                  <tr>
                  <td>
                  {input vytvoritRubriku}
                  </td>
                  <td>
                  <label class="required">* </label><em class="doplnujici-info">Povinně vyplňované položky</em>
                  </td>
                  </tr>
               </table>
               {/form}	
               </div>
            {/if}
{/block}			
{block pomocneSkripty}
<script type="text/javascript" src="{$baseUrl}/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
$(function(){
   //alert({link nactiUrl!});
   
   $("select").change(function(){
   
      $("input[type=\"submit\"]").attr("disabled","true");

      $.get({link nactiUrl!}, { id: $(this).val() }, function(data) {
         if (data.url == "") {
            $("input[name=\"nazevVUrl\"]").val(make_url($("input[name=\"nazev\"]").val()));
         }
         else {
            $("input[name=\"nazevVUrl\"]").val(data.url + "/" + make_url($("input[name=\"nazev\"]").val()));
         }
         $("input[type=\"submit\"]").removeAttr("disabled");
      });
   });
   
   
      var nodiac = { 'á': 'a', 'č': 'c', 'ď': 'd', 'é': 'e', 'ě': 'e', 'í': 'i', 'ň': 'n', 'ó': 'o', 'ř': 'r', 'š': 's', 'ť': 't', 'ú': 'u', 'ů': 'u', 'ý': 'y', 'ž': 'z' };
      /** Vytvoření přátelského URL
      * @param string řetězec, ze kterého se má vytvořit URL
      * @return string řetězec obsahující pouze čísla, znaky bez diakritiky, podtržítko a pomlčku
      * @copyright Jakub Vrána, http://php.vrana.cz/
      */
      function make_url(s) {
          s = s.toLowerCase();
          var s2 = '';
          for (var i=0; i < s.length; i++) {
              s2 += (typeof nodiac[s.charAt(i)] != 'undefined' ? nodiac[s.charAt(i)] : s.charAt(i));
          }
          return s2.replace(/[^a-z0-9_]+/g, '-').replace(/^-|-$/g, '');
      }
   
   
   $("input[name=\"nazev\"]").keyup(function() {

     if ($("select").attr("value") != 0) {
            var value = $("input[name=\"nazevVUrl\"]").val();
            var value1 = $("input[name=\"nazev\"]").val();
            value1 = make_url(value1)
            value = value.replace(/^(.*)(\/)([^\/]*)$/,"$1$2"); 
            $("input[name=\"nazevVUrl\"]").val(value + value1);
      }
      else {
         var value = $("input[name=\"nazev\"]").val();
         value = make_url(value)
         $("input[name=\"nazevVUrl\"]").val(value);
      }
      if ($(this).val() != "") {
         $("select").removeAttr("disabled");
      }
      else {
         $("select").attr("disabled","true");
      }
   });

	$("#tr-radioInputy input:eq(0)").bind("click", function() {
		$("#radek-s-vlasnim-obsahem").fadeOut(200);	
	});
	$("#tr-radioInputy input:eq(1)").bind("click", function() {
		$("#radek-s-vlasnim-obsahem").fadeIn(200);	
	});
});	
	CKEDITOR.replace( 'obsahRubriky', {
		filebrowserBrowseUrl : ""+ {$baseUrl} +"/ckfinder/ckfinder.html",
        filebrowserImageBrowseUrl : ""+ {$baseUrl} +"/ckfinder/ckfinder.html?Type=Images",
        filebrowserFlashBrowseUrl : ""+ {$baseUrl} +"/ckfinder/ckfinder.html?Type=Flash",
        filebrowserUploadUrl : ""+ {$baseUrl} +"/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files",
        filebrowserImageUploadUrl : ""+ {$baseUrl} +"/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images",
        filebrowserFlashUploadUrl : ""+ {$baseUrl} +"/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash"
	});
</script>
{/block}