{block obsah}
				<h1>Hlavní menu</h1>
				<div style="text-align:left;">
					{if $existujeMenu}
               <div class="hlavni-menu-obal">
                  <div class="hlavni-menu">
                        <ul>
                           <!--<li id="1" data-id-nadrazene-rubriky="0" class="rubrika"><span class=""></span>Item 1</li>
                           <li id="2" class="rubrika"><span class=""></span>Item 2</li>
                           <ul>
                              <li id="2.1" class="rubrika"><span class=""></span>Item 2.1</li>
                              <li id="2.2" class="rubrika"><span class=""></span>Item 2.2</li>
                           </ul>

                           <li id="3" class="rubrika"><span class=""></span>Item 3</li>
                           <li id="4" class="rubrika"><span class=""></span>Item 4</li>
                           <li id="5" class="rubrika"><span class=""></span>Item 5</li>
                           <li id="6" class="rubrika"><span class=""></span>Item 6</li>-->
                         {!$polozky}  
                           
                        <!--</ul>
                        <ul>
                             <li>Item 1
                                 <ul>
                                     <li >Item 1 1</li>
                                     <li >Item 1 2</li>
                                     <li >Item 1 3</li>
                                 </ul>
                             </li>
                             <li >Item 2<ul></ul></li>
                             <li >Item 3<ul></ul></li>
                             <li >Item 4<ul></ul></li>
                        </ul>-->
                  </div>
                  <div class="zarovnaniVlevo" style="margin-top: 50px;">
                     {if $user->isInRole("Šéfredaktor")}
                        <a href="#" class="oranzoveTlacitko" id="ulozitMenu" style="visibility:hidden;">Uložit Menu</a>
                     {/if}
                     
                  </div>
               </div>
               <div class="pridatPolozkyDoMenu-obal">
                  <div class="pridatRubrikyDoMenu">
                     <table class="tabulka-pridat-polozky-do-menu">
                        <thead><tr><th>Přidat rubriky do menu</th></tr></thead>
                        <tbody>
                           <tr><td>
                              <form>
                                 <div class="scrollbar simple">
                                 {!$seznamRubrik}
                                 </div>
                              </form>
                           </td></tr>
                        </tbody>
                        <tfoot><tr><td><a href="#" class="oranzoveTlacitko" id="pridatRubrikyDoMenu">Přidat</a></td></tr></tfoot>
                     </table>
                  </div>
                  <div class="pridatStrankyDoMenu">
                     <table class="tabulka-pridat-polozky-do-menu">
                        <thead><tr><th>Přidat stránky do menu</th></tr></thead>
                        <tbody>
                           <tr><td>                             
                              <form>
                              <div class="scrollbar simple">
                                 {if $seznamStranek != false}
                                    {foreach $seznamStranek as $stranka}
                                    <input name="seznamStranek" type="checkbox" data-adresa="{$stranka->adresa}" data-nazev="{$stranka->nazev}" data-id_nadrazene_rubriky="{$stranka->idNadrazeneRubriky}" value="{$stranka->id}"> <label>{$stranka->nazev}</label>
                                    <br />
                                    {/foreach}
                                 {else}
                                    Žádné stránky k dispozici
                                 {/if}
                                 </div>
                              </form>
                           </td></tr>
                        </tbody>
                        <tfoot><tr><td><a href="#" class="oranzoveTlacitko" id="pridatStrankyDoMenu">Přidat</a></td></tr></tfoot>
                     </table>
                  </div>
               </div>
               <div style="clear:both;"></div>
               {else}
                     <div class="zarovnaniVlevo" style="margin-top: 30px;">
                     {if $existujiRubriky}
                        {if $user->isInRole("Šéfredaktor")}
                           <a n:href="vytvorMenu" class="tlacitko">Vytvořit Hlavní Menu</a>
                        {/if}
                     {else}
                        {if $user->isInRole("Šéfredaktor")}
                        Abyste mohli vytvořit Hlavní menu, musíte <a n:href="Rubriky:vytvoreniRubriky" class="tlacitko">Vytvořit alespoň jednu Rubriku</a>
                        {/if}
                     {/if}
                     </div>
               
               {/if}
				</div>
{/block}
{block pomocneSkripty}

<script type="text/javascript" src="{$basePath}/js/ui-1.10.1-jquery-ui.js"></script>
<script type="text/javascript" src="{$basePath}/js/jquery.scroll.min.js"></script>
<script>
$(function(){

muzemeUlozitMenu = false;

obsahLiDark = "<a href=\"#\" class=\"odstranitPolozkuZMenu\"><img class=\"dark\" src=\""+{$basePath}+"/images/delete-from-menu-dark.png\"></a>";
obsahLiLight = "<a href=\"#\" class=\"odstranitPolozkuZMenu\"><img class=\"light\" src=\""+{$basePath}+"/images/delete-from-menu-light.png\"></a>";
obsahLiDark = "<a href=\"#\" class=\"odstranitPolozkuZMenu\">Odstranit</a>";
obsahLiLight = "<a href=\"#\" class=\"odstranitPolozkuZMenu\">Odstranit</a>";

$('.scrollbar').scrollbar();

/*$(".hlavni-menu li").hover(function() {
   $(this).find("a.odstranitPolozkuZMenu:eq(0)").css("visibility","visible");
},function() {
   $(this).find("a.odstranitPolozkuZMenu:eq(0)").css("visibility","hidden");
});*/

function AktualizujMenu() {
  
  
  $(".hlavni-menu li").each(function() {
      var prevTag = $(this).prev().prop('tagName');
       $(this).css("margin-bottom", "0px");
      if (prevTag == "LI") {
         $(this).css("margin-top", "1px");
      }
      else {
         $(this).css("margin-top", "13px");
      }
   });

   $(".hlavni-menu li:has(ul)").each(function() {

      vyska = $(this).outerHeight() + 1.5;
      vyska = ($(this).find("li").length * vyska) + 0.5;
      $(this).css("margin-bottom",vyska + "px");
   });

   $(".hlavni-menu li[data-id-nadrazene-rubriky=\"0\"]:has(ul)").each(function() {

      vyska = $(this).outerHeight() + 1.4;
      vyska = $(this).find("li").length * vyska;
      $(this).css("margin-bottom",vyska + "px");
   }); 

   $(".hlavni-menu li").css("cursor","move");
   

   $(".pridatRubrikyDoMenu input[name=\"seznamRubrik\"]").each(function() {
      if ($(".hlavni-menu li[data-id=\""+ $(this).val() +"\"]").filter(function(index) {
         return $(this).attr("class") == "rubrika";
      }).length == 0) {
         $(this).removeAttr("disabled");
      }
      if ($(".hlavni-menu li[data-id=\""+ $(this).attr("data-id_nadrazene_rubriky") +"\"]").filter(function(index) {
         return $(this).attr("class") == "rubrika";
      }).length != 1 && $(this).attr("data-id_nadrazene_rubriky") != 0) {
     /* alert("Nazelena shoda " + $(this).attr("data-nazev"));*/
         $(this).attr("disabled","disabled");
      }
      else {
         $(this).removeAttr("disabled");
      }
   });

   $(".pridatStrankyDoMenu input[name=\"seznamStranek\"]").each(function() {
      if ($(".hlavni-menu li[data-id=\""+ $(this).val() +"\"]").filter(function(index) {
         return $(this).attr("class") == "stranka";
      }).length == 0) {
         $(this).removeAttr("disabled");
      }
      if ($(".hlavni-menu li[data-id=\""+ $(this).attr("data-id_nadrazene_rubriky") +"\"]").filter(function(index) {
         return $(this).attr("class") == "rubrika";
      }).length != 1 && $(this).attr("data-id_nadrazene_rubriky") != 0) {
         /*alert("Nazelena shoda " + $(this).attr("data-nazev"));*/
         $(this).attr("disabled","disabled");
      }
      else {
         $(this).removeAttr("disabled");
      }
   });
   
   $(".hlavni-menu li").each(function() {
      var vyberRubriky = $(".pridatRubrikyDoMenu input[value=\""+ $(this).attr("data-id") +"\"]");
      var vyberStranky = $(".pridatStrankyDoMenu input[value=\""+ $(this).attr("data-id") +"\"]");
      
      if (($(this).attr("class") == "rubrika") && vyberRubriky.length == 1) {
         vyberRubriky.attr("disabled","disabled");
      }
      else if (($(this).attr("class") == "stranka") && vyberStranky.length == 1) {
         vyberStranky.attr("disabled","disabled");
      }
   });
   
   $(".hlavni-menu li[data-id-nadrazene-rubriky=\"0\"]").last().each(function() {

   vyska = $(this).outerHeight() + 4;
   vyska = $(this).find("li").length * vyska;
   $(this).css("margin-bottom",(vyska + 50) + "px");
   });
   
   if (muzemeUlozitMenu) {
      $("#ulozitMenu").css("visibility","visible");
      $("#ulozitMenu").css("cursor","default");
      $("#ulozitMenu").attr("href","#");
      
      poradi = "";
      id_polozky = "";
      nadrazene_id = "";
      nazev = "";
      typ = "";
      adresa = "";
      
      $(".hlavni-menu li").each(function(index) {
         $(this).attr("data-poradi",index + 1);
      });
      
      $(".hlavni-menu li").each(function() {

         if ($(this).parent().parent().prop('tagName') == "LI") {
            $(this).attr("data-id-nadrazene-rubriky", $(this).parent().parent().attr("data-poradi"));

         }
         else {
            $(this).attr("data-id-nadrazene-rubriky", 0);

         }
      });
      //alert("zduř");
      
      /*li class="rubrika" data-id-nadrazene-rubriky="1" data-adresa="1/1.2" data-nazev="1.2" data-id="12" style="margin-bottom: 75.5px; margin-top: 1px; cursor: move;"*/
      $(".hlavni-menu li").each(function() {
         if (poradi == "") {
            poradi += $(this).attr("data-poradi");
         }
         else {
            poradi += "," + $(this).attr("data-poradi");
         }
         
         if (id_polozky == "") {
            id_polozky += $(this).attr("data-id");
         }
         else {
            id_polozky += "," + $(this).attr("data-id");
         }
         if (nadrazene_id == "") {
            nadrazene_id += $(this).attr("data-id-nadrazene-rubriky");
         }
         else {
            nadrazene_id += "," + $(this).attr("data-id-nadrazene-rubriky");
         }

         if (nazev == "") {
            nazev += $(this).attr("data-nazev");
         }
         else {
            nazev += "," + $(this).attr("data-nazev");
         }
         if (adresa == "") {
            adresa += $(this).attr("data-adresa");
         }
         else {
            adresa += "," + $(this).attr("data-adresa");
         }
         if (typ == "") {
            typ += $(this).attr("class");
         }
         else {
            typ += "," + $(this).attr("class");
         }
         
      });
      $("#ulozitMenu").attr("href","" + {link ulozitMenu} + "/" + "ulozit-menu?poradi=" + poradi + "&id_polozky=" + id_polozky + "&nadrazene_id=" + nadrazene_id + "&nazev=" + nazev + "&typ=" + typ + "&adresa=" + adresa + "");
      //alert($("#ulozitMenu").attr("href"));
      $("#ulozitMenu").css("cursor","pointer");
   }
}

AktualizujMenu();

$("#pridatStrankyDoMenu").bind("click",function(e) {
   e.preventDefault();
   $(".pridatStrankyDoMenu input:checked").each(function() {
      if ($(this).attr("data-id_nadrazene_rubriky") == 0) {
         $("ul.ui-sortable:eq(0)").append("<li data-id=\""+ $(this).val() +"\" class=\"stranka\" data-id-nadrazene-rubriky=\"0\" data-adresa=\""+ $(this).attr("data-adresa") +"\" data-nazev=\""+ $(this).attr("data-nazev") +"\">"+ $(this).attr("data-nazev") +""+ obsahLiDark +"</li>");
      }
      else {
      var vyber = $(".hlavni-menu li[data-id=\""+ $(this).attr("data-id_nadrazene_rubriky") +"\"]").filter(function(index) {
         return $(this).attr("class") == "rubrika";
      }).find("ul:eq(0)");
         if (vyber.length == 0) {
            $(".hlavni-menu li[data-id=\""+ $(this).attr("data-id_nadrazene_rubriky") +"\"]").filter(function(index) {
         return $(this).attr("class") == "rubrika";
      }).append("<ul><li data-id=\""+ $(this).val() +"\" class=\"stranka\" data-id-nadrazene-rubriky=\"0\" data-adresa=\""+ $(this).attr("data-adresa") +"\" data-nazev=\""+ $(this).attr("data-nazev") +"\">"+ $(this).attr("data-nazev") +""+ obsahLiDark +"</li></ul>");
         }
         else {
            vyber.append("<li data-id=\""+ $(this).val() +"\" class=\"stranka\" data-id-nadrazene-rubriky=\"0\" data-adresa=\""+ $(this).attr("data-adresa") +"\" data-nazev=\""+ $(this).attr("data-nazev") +"\">"+ $(this).attr("data-nazev") +""+ obsahLiDark +"</li>");
         }
      }
      $(this).removeAttr("checked");
   });
   muzemeUlozitMenu = true;
   AktualizujMenu();
});

$("#pridatRubrikyDoMenu").bind("click",function(e) {
   e.preventDefault();
   $(".pridatRubrikyDoMenu input:checked").each(function() {
      if ($(this).attr("data-id_nadrazene_rubriky") == 0) {
         $("ul.ui-sortable:eq(0)").append("<li data-id=\""+ $(this).val() +"\" class=\"rubrika\" data-id-nadrazene-rubriky=\"0\" data-adresa=\""+ $(this).attr("data-adresa") +"\" data-nazev=\""+ $(this).attr("data-nazev") +"\">"+ $(this).attr("data-nazev") +""+ obsahLiLight +"</li>");
      }
      else {
      var vyber = $(".hlavni-menu li[data-id=\""+ $(this).attr("data-id_nadrazene_rubriky") +"\"]").filter(function(index) {
         return $(this).attr("class") == "rubrika";
      }).find("ul:eq(0)");
         if (vyber.length == 0) {
            $(".hlavni-menu li[data-id=\""+ $(this).attr("data-id_nadrazene_rubriky") +"\"]").filter(function(index) {
         return $(this).attr("class") == "rubrika";
      }).append("<ul><li data-id=\""+ $(this).val() +"\" class=\"rubrika\" data-id-nadrazene-rubriky=\"0\" data-adresa=\""+ $(this).attr("data-adresa") +"\" data-nazev=\""+ $(this).attr("data-nazev") +"\">"+ $(this).attr("data-nazev") +""+ obsahLiLight +"</li></ul>");
         }
         else {
            vyber.append("<li data-id=\""+ $(this).val() +"\" class=\"rubrika\" data-id-nadrazene-rubriky=\"0\" data-adresa=\""+ $(this).attr("data-adresa") +"\" data-nazev=\""+ $(this).attr("data-nazev") +"\">"+ $(this).attr("data-nazev") +""+ obsahLiLight +"</li>");
         }
      }
      $(this).removeAttr("checked");
   });
   muzemeUlozitMenu = true;
   AktualizujMenu();
});

   $("a.odstranitPolozkuZMenu").live("click", function() {
      if (confirm('Opravdu si přejete danou položku odstranit?')) {
			var id = $(this).parent().attr("data-id");
         var typ = $(this).parent().attr("class");
         $(this).parent().remove();        
         muzemeUlozitMenu = true;
         AktualizujMenu();
         if (typ == "rubrika") {
            $(".pridatRubrikyDoMenu input[value=\""+ id +"\"]").removeAttr("disabled");
         }
         else {
            $(".pridatStrankyDoMenu input[value=\""+ id +"\"]").removeAttr("disabled");
         }       
		}
		else {
			return false;
		}
   });
   
   
$(".hlavni-menu ul").sortable({ 
   opacity: 0.8, 
   placeholder: "sortable-placeholder",
   cursor: 'move', 
   update: function() {
   muzemeUlozitMenu = true;
   
   AktualizujMenu();
/*
$(".hlavni-menu li[data-id-nadrazene-rubriky=\"0\"]:has(ul)").last().each(function() {

   vyska = $(this).outerHeight() + 4;
   vyska = $(this).find("li").length * vyska;
   $(this).css("margin-bottom",(vyska + 50) + "px");
});*/
   
   /*var order = "";
   $(".hlavni-menu li").each(function() {
      if (order == "") {
         order += $(this).attr("id");
      }
      else {
         order += "," + $(this).attr("id");
      }
      
   });*/
  /* $(".hlavni-menu ul").each(function() {
      order += "," + $(this).sortable("toArray");
   });
   alert(order);*/
   }
});
$(".hlavni-menu ul").disableSelection();

	/*reagujNaHnutiMysi = false;
	aktualniElement = "";
	aktualniElementTop = 0;
	aktualniElementLeft = 0;
	pageX = 0;
	pageY = 0;
	
	$(".hlavni-menu-polozka-menu").bind("mousedown", function(e) {
		reagujNaHnutiMysi = true;
		$("*").css({"-webkit-touch-callout":"none","-webkit-user-select":"none","-khtml-user-select":"none","-moz-user-select":"none","-ms-user-select":"none","user-select":"none"});
		aktualniElement = $(this).css("z-index",1000).css("position","absolute");
		aktualniElementTop = aktualniElement.offset().top;
		aktualniElementLeft = aktualniElement.offset().left;
		pageX = e.pageX;
		pageY = e.pageY;
		$(this).css("cursor","move");   
	});
	
	$("html").bind("mouseup", function() {
		reagujNaHnutiMysi = false;
		$("*").css({"-webkit-touch-callout":"auto","-webkit-user-select":"auto","-khtml-user-select":"auto","-moz-user-select":"auto","-ms-user-select":"auto","user-select":"auto"});
	});
	
	$("html").bind("select",function(){
		if(reagujNaHnutiMysi) return false;
	});
	
	$("html").bind('mousemove',function(e) {
		if (reagujNaHnutiMysi) {
				posunHorizontalni = e.pageX - pageX;
				posunVertikalni = e.pageY - pageY;
				posunHorizontalni = aktualniElementLeft + posunHorizontalni;
				posunVertikalni = aktualniElementTop + posunVertikalni;
				aktualniElement.css("left",posunHorizontalni);
				aktualniElement.css("top",posunVertikalni);
		}
	});*/
});
</script>
{/block}
