
{block obsah}
<h1>Vítejte</h1>
<div class="hlavni-menu-obal" style="text-align:left;margin-left: 50px;line-height: 1.5;">
<ul>
<li>Vítejte v administračním systému lightCMS.</li>
<li>Jste-li zde poprvé, může vám pomoci <a n:href="Napoveda:default">nápověda</a>, kde se dozvíte jak používat systém.</li>
<li>Možná vás také mohou zajímat <a n:href="Licence:default">licenční podmínky</a>.</li>
<li>Věřím, že se vám bude tento systém libit a vaši práci vám zpříjemní.</li>
</ul>
</div>
{/block}
