{block obsah}
				<div class="zarovnaniVlevo">
					{if $user->isInRole("Administrátor")}<a n:href="vytvoreniNovehoUzivatele" class="tlacitko odsadVlevo">Vytvořit nového uživatele</a> x {/if}<a n:href="upraveniProfilu $user->id" class="tlacitko">Upravení vlastního profilu</a>
				</div>
				<div class="oddelovac"></div>

				<h1>Přehled uživatelů</h1>
    
					<table class="tabulka-vypis-uzivatelu">
						<thead><tr><th>Přihlašovací jméno</th><th>Jméno</th><th>Email</th><th>Role</th><th>Datum registrace</th></tr></thead>
						<tbody>
							{foreach $uzivatele as $uzivatel}
							<tr><td><strong>{if ($user->isInRole("Administrátor") && $uzivatel->role != "Administrátor" && $uzivatel->role != "Hlavní Administrátor") || ($user->isInRole("Hlavní Administrátor")) || $user->id == $uzivatel->id}<a n:href="upraveniProfilu $uzivatel->id" class="uzivatel">{$uzivatel->login}</a>{else}<a href="" class="uzivatel">{$uzivatel->login}</a>{/if}</strong><div class="hidden-tools">{if ($user->isInRole("Administrátor") && $uzivatel->role != "Administrátor" && $uzivatel->role != "Hlavní Administrátor") || ($user->isInRole("Hlavní Administrátor")) || $user->id == $uzivatel->id}<span><a n:href="upraveniProfilu $uzivatel->id" class="upravit">Upravit</a>{if $uzivatel->role != "Hlavní Administrátor"} | <a n:href="odstraneniUzivatele $uzivatel->id" name="modal" data-odstranitBezModalniOkna="{$uzivatel->odstranitBezModalniOkna}" data-idUzivatele="{$uzivatel->id}" data-dialog="#dialog" class="odstranit">Odstranit</a>{/if}</span>{/if}</div></td><td>{$uzivatel->jmeno} {$uzivatel->prijmeni}</td><td>{$uzivatel->email}</td><td>{$uzivatel->role}</td><td>{$uzivatel->datum_registrace|date:'%d. %m. %Y'}</td></tr>
							{/foreach}
						</tbody>
						<tfoot><tr><td></td><td></td><td></td><td></td><td></td></tr></tfoot>
					</table>			

{/block}	
{block modalniOkno}
    <!-- #customize your modal window here data-dialog=\"#dialog\" name=\"modal\" data-odstranitBezModalniOkna=\"ano\"-->
 
    <div id="dialog" class="window">
    <div id="window-hlavicka">Smazání uživatele<a href="#" class="close"><img src="{$basePath}/images/button-cross1.png" width="32"/></a></div>
       <div id="window-telo">
       <em>Chceteli smazat uživatele, musíte určit co se má provést s obsahem, který daný uživatel vytvořil (stránky, rubriky, obrázky)<br /> 
       Pokud se rozhodnete smazat uživatelův obsah, stránky nepatřící uživateli, ale přiřazené mazaným rubrikám budou zachovány!<br />
       <strong>Pozor: Akce smazání uživatele je nevratná! </strong>
       </em>
       <p style="margin-top: 15px;">Co chcete dělat s obsahem, který vytvořil daný uživatel?</p>
       {form smazaniUzivateleForm}
       <p style="margin-top: 5px;float:left;line-height: 2;">{input akce}</p>
       <p style="margin-top: 35px;float:left;margin-left:15px;">{input uzivatele}</p>
       {input idUzivatele}
       <p style="margin-top: 20px;clear:both;clear:left;float:left;margin-left:10px;">{input odstranitUzivatele}</p>
       <p style="clear:both;"></p>
       {/form}

       
       </div> 
 
    </div>
{/block}	
{block pomocneSkripty}
<script>
$(function(){  

   $(".odstranit:not(a[data-odstranitBezModalniOkna=ne])").bind("click", function(event) {
		//event.preventDefault();
		if (confirm('Opravdu si přejete daného uživatele odstranit?')) {
			return true;
		}
		else {
			return false;
		}
	});
   
   //select all the a tag with name equal to modal
    $('a[name=modal]:not(a[data-odstranitBezModalniOkna=ano])').click(function(e) {
        //Cancel the link behavior
        e.preventDefault();
        //Get the A tag
        var id = $(this).attr('data-dialog');
        
        idUzivatele = $(this).attr("data-idUzivatele");
        $('input[name=idUzivatele]').val(idUzivatele);
        
        
        //Get the screen height and width
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();
     
        //Set height and width to mask to fill up the whole screen
        $('#mask').css({'width':maskWidth,'height':maskHeight});
         
        //transition effect    
        $('#mask').fadeIn(300);   
        $('#mask').fadeTo(300,0.8); 
     
        //Get the window height and width
        var winH = $(window).height();
        var winW = $(window).width();
               
        //Set the popup window to center
        $(id).css('top',  winH/2-$(id).height()/2);
        $(id).css('left', winW/2-$(id).width()/2);
     
        //transition effect
        $(id).fadeIn(300);
     
    });
     
    //if close button is clicked
    $('.window .close').click(function (e) {
        //Cancel the link behavior
        e.preventDefault();
        $('#mask, .window').hide();
    });    
     
    //if mask is clicked
    $('#mask').click(function () {
        $(this).hide();
        $('.window').hide();
    });   
});
</script>
<script>
$(function(){

	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseover", function() {
		$(this).find(".hidden-tools span").css("display", "inline");	
	});
	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseout", function() {
		$(this).find(".hidden-tools span").css("display", "none");	
	});
	
	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseover", function() {
		$(this).find(".hidden-tools span").css("display", "inline");	
	});
	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseout", function() {
		$(this).find(".hidden-tools span").css("display", "none");	
	});
});
</script>
{/block}