{block obsah}
				<h1>Úprava profilu</h1>
				<div class="vytvoreni-noveho-uzivatele">
				{form editProfileForm}
				{control $form errors}
				<table>
					<tr>
					<td>
					{label email class => 'required' /}
					<p class="doplnujici-info">(Také přihlašovací jméno)</p>
					</td>
					<td>
					{input email value => "{$uzivatel->email}"}
					</td>
					</tr>
					<tr>
					<td>
					{label jmeno /}
					</td>
					<td>
					{input jmeno value => "{$uzivatel->jmeno}"}
					</td>
					</tr>
					<tr>
					<td>
					{label prijmeni /}
					</td>
					<td>
					{input prijmeni value => "{$uzivatel->prijmeni}"}
					</td>
					</tr>
					<tr>
					<td>
					{label role class => 'required' /}
					</td>
					<td>
					<select n:input="role">
					<div class="obal-option">
						{if $user->isInRole("Hlavní Administrátor") && $uzivatel->role != "Hlavní Administrátor"}
						<option value="Administrátor" {if $uzivatel->role == "Administrátor"}selected{/if}>Administrátor</option>
						<option value="Šéfredaktor" {if $uzivatel->role == "Šéfredaktor"}selected{/if}>Šéfredaktor</option>
						<option value="Redaktor" {if $uzivatel->role == "Redaktor"}selected{/if}>Redaktor</option>
						{elseif $user->isInRole("Administrátor") && !$user->isInRole("Hlavní Administrátor") && $uzivatel->role != "Administrátor"}
						<option value="Šéfredaktor" {if $uzivatel->role == "Šéfredaktor"}selected{/if}>Šéfredaktor</option>
						<option value="Redaktor" {if $uzivatel->role == "Redaktor"}selected{/if}>Redaktor</option>
						{elseif $user->isInRole("Administrátor") && !$user->id == $uzivatel->id}
						<option value="Administrátor" selected>Administrátor</option>
						<option value="Šéfredaktor">Šéfredaktor</option>
						<option value="Redaktor">Redaktor</option>
						{else}
						<option>{$uzivatel->role}</option>
						{/if}
					</div>
					</select>
					</td>
					</tr>
               {if $skryjHeslo == true}
					<tr style="display:none;">
               {else}
               <tr>
               {/if}
					<td>
					{label oldPassword /}
					<p class="doplnujici-info">(Zadejte pokud měníte email <br /> nebo nastavujete nové heslo)</p>
					</td>
					<td>
					{input oldPassword}
					</td>
					</tr>
					<tr>
					<td>
					{label newPassword /}
					<p class="doplnujici-info">(Heslo musí mít min. 5 znaků)</p>
					</td>
					<td>
					{input newPassword}
					</td>
					</tr>
					<tr>
					<td>
					{input idUzivatele value => "{$idUzivatele}"}
					{input upravitProfil}
					</td>
					<td>
					<label class="required">* </label><em class="doplnujici-info">Povinně vyplňované položky</em>
					</td>
					</tr>
				</table>
				{/form}
				</div>
{/block}	