{block obsah}
				<h1>Vytvoření nového uživatele</h1>
				<div class="vytvoreni-noveho-uzivatele">
				{form createNewUserForm}
				{control $form errors}
				<table>
					<tr>
					<td>
					{label email class => 'required' /}
					<p class="doplnujici-info">(Také přihlašovací jméno)</p>
					</td>
					<td>
					{input email}
					</td>
					</tr>
					<tr>
					<td>
					{label jmeno /}
					</td>
					<td>
					{input jmeno}
					</td>
					</tr>
					<tr>
					<td>
					{label prijmeni /}
					</td>
					<td>
					{input prijmeni}
					</td>
					</tr>
					<tr>
					<td>
					{label role class => 'required' /}
					</td>
					<td>
						{input role}
					</td>
					</tr>
					<tr>
					<td>
					{label newPassword class => 'required' /}
					</td>
					<td>
					{input newPassword}
					</td>
					</tr>
					<tr>
					<td>
					{label newPasswordConfirm class => 'required' /}
					</td>
					<td>
					{input newPasswordConfirm}
					</td>
					</tr>
					<tr>
					<td>
					{input vytvoritUzivatele}
					</td>
					<td>
					<label class="required">* </label><em class="doplnujici-info">Povinně vyplňované položky</em>
					</td>
					</tr>
				</table>
				{/form}
				</div>
{/block}