
{block obsah}
<h1>Licence</h1>
<div class="hlavni-menu-obal" style="text-align:left;margin-left: 50px;line-height: 1.5;">
<ul>
<li>Toto dílo je licencováno pod licencí CC BY-NC-SA 3.0 CZ <<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/cz/">http://creativecommons.org/licenses/by-nc-sa/3.0/cz/</a>></li>
<li>Autora (Jan Herec), kontakt na něj (herech@seznam.cz) a odkaz na tuto licenci je nutné uvádět v patičce</li>
<li>Z této licence je vyjmut CKEditor jakož i CKFinder, jež jsou licencovány pod licencí MPL 2.0 <<a href="http://www.mozilla.org/MPL/2.0/">http://www.mozilla.org/MPL/2.0/</a>></li>
</ul>
</div>
{/block}