{block obsah}
				<div class="zarovnaniVlevo">
					<a href="#" class="tlacitko odsadVlevo">Zálohuj styly</a> x 
					<a href="#" class="tlacitko">Použít zálohu</a> x 
					<a href="#" class="tlacitko">Použít původní</a>
				</div>
				<div class="oddelovac"></div>
				<h1>Úprava CSS stylů</h1>
				<form action="" method="post">
				<textarea rows="30">
				* {
padding: 0px;
margin: 0px;
}
img {
border:none;
}

.cleaner {
clear:both;
}

body {
background: url("../img/body-background1.png");/*url("../img/body-background.png");*/
font-size: 100%;
font-family: "Arial", "Verdana";
}

input {
	padding: 3px;
	font-size: 90%;
}

.top {
	background: url("../img/top-background.png");
	width: 100%;
	margin-top: -10px;
}

#subTop {
	background: url("../img/subhlavicka-background1.png");
	width: 100%;
}

	#hlavicka {
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 0px;
		/*background: blue;*/
		height: 110px;
		color: rgb(235,225,235);
	}
		#hlavicka-oddelovac {
			border-top: 1px solid rgb(255,255,255);
			border-bottom: 1px solid rgb(255,255,255);
			height: 1px;
			background: rgb(190,210,225);
		}

		#hlavicka-left {
			float:left;
			/*background: rgb(0,30,45);*/
			width: 70%;
			height:100%;
			text-align:left;
		}
			#hlavicka-left img{
				clear:both;
				float:left;
			}
		#hlavicka-right {
			/*float:right;
			width: 29%;*/
			/*background: rgb(0,190,210);*/
			/*height:auto;
			text-align:left;
			background: rgb(225,235,245);
			color: rgb(235,225,235);
			border: 1px solid rgb(185,205,218);
			border-radius: 20px;
			box-shadow: 0px 0px 5px rgb(180,180,180);*/
		}
		
			#hlavicka-right a {
			color: rgb(0,100,160);
			text-decoration: underline;
			display: block;
			float:right;
			margin-top: 30px;
			margin-right: 15px;
			}
		
#subHlavicka {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
	padding-top: 10px;
	height: 110px;
	color: rgb(235,225,235);
}

	#subHlavicka h1 {
		/*background: rgb(0,30,45);*/
		margin-top: 15px;
		float:left;
		clear:both;
		position:relative;
		margin-left: 50px;
		color: rgb(0,60,100);
		font-size: 165%;
	}
		
	#subHlavicka h2 {
		float:left;
		clear:both;
		/*background: rgb(0,30,45);*/
		margin-top: 15px;
		margin-left: 50px;
		color: rgb(250,130,60); /*rgb(30,190,230)*/
		font-size: 135%;
	}
		
	.subHlavicka-right {
		float:right;
		width: auto;
		/*background: rgb(0,190,210);*/
		height:auto;
		text-align:left;
		/*background: rgb(225,235,245);*/
		color: black;
		/*border: 1px solid rgb(185,205,218);*/
		/*border-radius: 20px;*/
		margin-top: -35px;
		/*background: url("../img/subhlavicka-right-background.png");*/
	}
	
		.subHlavicka-oddelovac {
			border-left: 1px solid rgb(255,255,255);
			border-right: 1px solid rgb(255,255,255);
			width: 1px;
			background: rgb(190,210,225);
			height: 80px;
			float:left;
		}
		
		#subHlavicka-right-uzivatel {
			/*background: white;*/
			padding: 5px 20px 5px 20px;
			margin-top: 8px;
			line-height: 1.8;
			color: rgb(100,120,140);/*rgb(30,190,230)*/
		}
		#subHlavicka-right-odhlaseni {
			/*background: red;*/
			padding: 5px 20px 5px 20px;
			margin-top: 30px;
		}

#horniMenu {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 20px;
	/*background: rgb(225,235,245);*/
	height: auto;
	/*border: 1px solid rgb(185,205,218);*/
	/*box-shadow: 0px 0px 5px rgb(180,180,180);*/
}

	#horniMenu ul {
		/*margin-top: 50px;*/
	}
	#horniMenu ul li {
		list-style-type: none;
		display:block;
		width: 150px;
		padding-top: 5px;
		padding-bottom: 5px;
		float: left;
		background: url("../img/hlavni-menu-background.png");
		border-top: 1px solid rgb(100,100,100);
		border-bottom: 1px solid rgb(100,100,100);
	}
		#horniMenu ul li:first-child {
			border-top-left-radius: 7px;
			border-bottom-left-radius: 7px;
		}
		#horniMenu ul li:last-child{
			border-top-right-radius: 7px;
			border-bottom-right-radius: 7px;
		}
	#horniMenu ul li a{
		display: block;
		padding: 5px;
		background: url("../img/hlavni-menu-background.png");
		color: rgb(225,225,225);
		text-shadow: 1px 1px 1px rgb(0,0,0);
		width: 138px;
		/*border-bottom: 1px solid silver;*/
		text-decoration: none;
		font-size: 110%;
		border-left: 1px solid rgb(75,80,85);
		border-right: 1px solid black;
	}
	#horniMenu ul li a:hover {
		background: orange;/*rgb(50,210,250);*/
		/*color: rgb(20,20,20);*/
		background: url("../img/hlavni-menu-background2.png");
	}
	#horniMenu ul li:hover{
		background: orange;/*rgb(50,210,250);*/
		/*color: rgb(20,20,20);*/
		background: url("../img/hlavni-menu-background2.png");
	}

#telo {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
	/*background: rgb(225,235,245);*/
	height: 500px;
	color: rgb(235,225,235);
	border: 1px solid rgb(255,255,255);
	border-radius: 7px;
	/*box-shadow: 0px 0px 5px rgb(180,180,180);*/
}
		#telo2 {
		width: 1022px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		/*background: rgb(225,235,245);*/
		height: 498px;
		color: rgb(235,225,235);
		border: 1px solid rgb(190,210,225);
		border-radius: 7px;
		/*box-shadow: 0px 0px 5px rgb(180,180,180);*/
	}
		#telo3 {
			width: 1020px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			/*background: rgb(225,235,245);*/
			height: 496px;
			color: rgb(255,255,255);
			border: 1px solid rgb(255,255,255);
			border-radius: 7px;
			background: rgb(240,250,255);
			/*box-shadow: 0px 0px 5px rgb(180,180,180);*/
		}

#paticka {
	text-align: left;
	width: 100%;
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
	background: url("../img/paticka-background.png");
	height: 35px;
	padding-top: 10px;
	color: rgb(210,230,250);
	border-top: 1px solid rgb(0,70,100);
	border-bottom: 1px solid rgb(0,70,100);
	margin-bottom: 100px;
	box-shadow: 5px 5px 5px rgb(180,180,180);
	text-shadow: 3px 3px 3px rgb(80,80,80);
}
	#paticka span {
		color: rgb(100,130,170);
	}
	#paticka a {
		text-decoration: underline;
		color: rgb(210,230,250);
	}
				</textarea>
				<div class="zarovnaniVlevo">
					<input type="submit" name="uprav" value="Uprav" class="odsadVlevo" style="margin-top: 20px;">
				</div>
				<form>
{/block}