{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Nette Framework web application skeleton">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags}LightCMS{/block}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/styly.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
   <link href="{$basePath}/css/scrollbar.css" type="text/css" rel="stylesheet" />

	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	{block head}{/block}
</head>

<body>
	{if !$user->isLoggedIn()}
		{if $registraceJizProbehla == false}
		<div class="top">
			<div id="hlavicka">
				<div id="hlavicka-left">
				<img src="{$basePath}/images/lightCMS2.png">
				</div>
				<div id="hlavicka-right">
				</div>
				<div class="cleaner"></div>
			</div>
			<div id="hlavicka-oddelovac"></div>
		</div>
      <div n:foreach="$flashes as $flash" id="teloZpravicek" class="flash {$flash->type}">{$flash->message}</div>
		<div id="telo-prihlaseniRegistrace">
			<div id="telo2-prihlaseniRegistrace">
				<div id="telo3-prihlaseniRegistrace">
					<div class="telo3-prihlaseniRegistrace-hlavicka">Registrace</div>
					<div class="telo3-prihlaseniRegistrace-telo">
					{form registrationForm}
					<table>
						<tr>
						<td>
						{label email /}
						<p class="doplnujici-info">(Bude sloužit jako vaše přihlašovací jméno)</p>
						</td>
						</tr>
						<tr>
						<td>
						{input email}
						</td>
						</tr>
						<tr>
						<td>
						{label password /}
						</td>
						</tr>
						<tr>
						<td>
						{input password}
						</td>
						</tr>
						<tr>
						<td>
						{label password1 /}
						</td>
						</tr>
						<tr>
						<td>
						{input password1}
						</td>
						</tr>
						<tr>
						<td>
						{input registrace}
						</td>
						</tr>
					</table>
					{/form}
					</div>
				</div>
			</div>
		</div>
		<div id="paticka">
			<p>Light systém pro správu webového obsahu &nbsp;<span>|</span>&nbsp; Vytvořil Jan Herec v roce 2012, kontakt: herech@seznam.cz &nbsp;<span>|</span>&nbsp; <a href="#">Licence</a></p>
		</div>
		{else}
		<div class="top">
			<div id="hlavicka">
				<div id="hlavicka-left">
				<img src="{$basePath}/images/lightCMS2.png">
				</div>
				<div id="hlavicka-right">
				</div>
				<div class="cleaner"></div>
			</div>
			<div id="hlavicka-oddelovac"></div>
		</div>
      <div n:foreach="$flashes as $flash" id="teloZpravicek" class="flash {$flash->type}">{$flash->message}</div>
		<div id="telo-prihlaseniRegistrace">
			<div id="telo2-prihlaseniRegistrace">
				<div id="telo3-prihlaseniRegistrace">
					<div class="telo3-prihlaseniRegistrace-hlavicka">Přihlášení</div>
					<div class="telo3-prihlaseniRegistrace-telo">

					<div id="formularPrihlaseni">
					{form signInForm}
					{control $form errors}
					<table>
						<tr>
						<td>
						{label username /}
						<p class="doplnujici-info">(Váš registrační email)</p>
						</td>
						</tr>
						<tr>
						<td>
						{input username}
						</td>
						</tr>
						<tr>
						<td>
						{label password /}
						</td>
						</tr>
						<tr>
						<td>
						{input password}
						</td>
						</tr>
						<tr>
						<td>
						{input persistent} {label persistent /}
						{input login}
						<a href="#" id="zapomeliJsteHeslo" style="display:block;float:right; margin-top: 20px;font-size: 80%;">Zapoměli jste heslo?</a>
						</td>
						</tr>
					</table>
					{/form}
					</div>
					
					<div id="formularNoveHeslo">
					{form newPasswordForm}
					{control $form errors}
					<table>
						<tr>
						<td>
						{label email /}
						</td>
						</tr>
						<tr>
						<td>
						{input email}
						</td>
						</tr>
						<tr>
						<td>
						{label password /}
						</td>
						</tr>
						<tr>
						<td>
						{input password}
						</td>
						</tr>
						<tr>
						<td>
						{input submit}
						</td>
						</tr>
					</table>
					{/form}
					</div>
					</div>
				</div>
			</div>
		</div>
		<div id="paticka">
			<p>Light systém pro správu webového obsahu &nbsp;<span>|</span>&nbsp; Vytvořil Jan Herec v roce 2012, kontakt: herech@seznam.cz &nbsp;<span>|</span>&nbsp; <a href="#">Licence</a></p>
		</div>
		{/if}
	{else}
			<div class="top">
			<div id="hlavicka">
				<div id="hlavicka-left">
				<img src="{$basePath}/images/lightCMS2.png">
				</div>
				<div id="hlavicka-right">
					<a n:href="Napoveda:default"><img src="{$basePath}/images/Help_32x321.png" alt="Nápověda"></a>
				</div>
				<div class="cleaner"></div>
			</div>
			<div id="hlavicka-oddelovac"></div>
		</div>
		<div id="subTop">
			<div id="subHlavicka">
				<h1 title="Administrace stránek"></h1>
				<h2><a href="http://{$urlStranky}">{$urlStranky}</a></h2>
					<div class="subHlavicka-right">
						<div class="subHlavicka-oddelovac">
						</div>
						<div id="subHlavicka-right-odhlaseni">
							<a n:href="signOut!" class="tlacitko">odhlásit se</a>	
						</div>	
						<div class="cleaner"></div>
					</div>
					<div class="subHlavicka-right">
						<div class="subHlavicka-oddelovac">
						</div>
						<div id="subHlavicka-right-uzivatel">
							<p>Uživatel: <a style="color:#64788C;text-decoration:underline;" n:href="Uzivatele:upraveniProfilu $user->id">{if $Uzivatel->jmeno != "" && $Uzivatel->prijmeni != ""}{$Uzivatel->jmeno} {$Uzivatel->prijmeni}{else}{$Uzivatel->login}{/if}</a></p>
							<p>Role: {$Uzivatel->role}</p>					
						</div>	
						<div class="cleaner"></div>
					</div>
				<div class="cleaner"></div>
			</div>
		</div>
		<div id="horniMenu">
			<ul>
				<li><a n:href="Rubriky:default" n:class="$presenter->isLinkCurrent('Rubriky:*') ? current">Rubriky</a></li>
				<li><a n:href="Stranky:default" n:class="$presenter->isLinkCurrent('Stranky:*') ? current">Stránky</a></li>
				<li><a n:href="HlavniMenu:default" n:class="$presenter->isLinkCurrent('HlavniMenu:*') ? current">Hlavní menu</a></li>
				<li><a n:href="Media:default" n:class="$presenter->isLinkCurrent('Media:*') ? current">Média</a></li>
				<li><a n:href="Uzivatele:default" n:class="$presenter->isLinkCurrent('Uzivatele:*') ? current">Uživatelé</a></li>
				<!--<li><a n:href="Vzhled:default" n:class="$presenter->isLinkCurrent('Vzhled:*') ? current">Vzhled</a></li>-->
			</ul>
			<div class="cleaner"></div>
		</div>
      <div n:foreach="$flashes as $flash" id="teloZpravicek" class="flash {$flash->type}">{$flash->message}</div>
		<div id="telo">
			<div id="telo2">
				<div id="telo3">
					{include #obsah}
				</div>
			</div>
		</div>
		<div id="paticka">
			<p>Light systém pro správu webového obsahu &nbsp;<span>|</span>&nbsp; Vytvořil Jan Herec v roce 2012, kontakt: herech@seznam.cz &nbsp;<span>|</span>&nbsp; <a n:href="Licence:default">Licence</a></p>
		</div>
	{/if}

   <div id="mask"></div>
   {block modalniOkno}
   {/block}
</body>
</html>
<script>
$(function(){
var basepath = {$basePath};
	$("#horniMenu li a").filter(".current").parent().addClass("current");
	
	$("#horniMenu li").bind("mouseover", function() {
		$(this).find("a").css("background", "url('"+ basepath +"/images/hlavni-menu-background2.png')");	
	});
	$("#horniMenu li").bind("mouseout", function() {
		if ($(this).find("a").is(".current") == false) {
			$(this).find("a").css("background", "url('"+ basepath +"/images/hlavni-menu-background.png')");
		}		
	});
	
	if ($(".flash").length != 0) {
			setTimeout(function() {
			$(".flash").fadeOut();
			}, 8000);
		}
   if ($("ul.errors").length != 0) {
			setTimeout(function() {
			$("ul.errors").fadeOut();
			}, 8000);
   } 
      
   /*$("a.odstranit:not(a[data-odstranitBezModalniOkna=ne])").bind("click", function() {
      if (confirm('Opravdu si přejete danou položku odstranit?')) {
			return true;
		}
		else {
			return false;
		}
   });*/
	
	$("#zapomeliJsteHeslo").bind("click",function() {
		$("#formularPrihlaseni").fadeOut(300,function() {
			$("#formularNoveHeslo").fadeIn(300);
			$(".telo3-prihlaseniRegistrace-hlavicka").text("Nové Heslo");
		});	
	});
	
});
</script>
{block pomocneSkripty}
{/block}
