<!DOCTYPE html>
<html lang="cs-cz">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/styly.css">
<script type="text/javascript" src="js/jquery.js">
</script>
<title>CMS</title>
</head>
<body>
	<div class="top">
		<div id="hlavicka">
			<div id="hlavicka-left">
			<img src="img/lightCMS2.png">
			</div>
			<div id="hlavicka-right">
			</div>
			<div class="cleaner"></div>
		</div>
		<div id="hlavicka-oddelovac"></div>
	</div>
	<div id="telo-prihlaseniRegistrace">
		<div id="telo2-prihlaseniRegistrace">
			<div id="telo3-prihlaseniRegistrace">
				<div class="telo3-prihlaseniRegistrace-hlavicka">Přihlášení</div>
				<div class="telo3-prihlaseniRegistrace-telo">
				<form>
				<table>
					<tr>
					<td>
					<label>Přihlašovací jméno:</label>
					<p class="doplnujici-info">(Váš registrační email)</p>
					</td>
					</tr>
					<tr>
					<td>
					<input type="text">
					</td>
					</tr>
					<tr>
					<td>
					<label>Heslo:</label>
					</td>
					</tr>
					<tr>
					<td>
					<input type="password">
					</td>
					</tr>
					<tr>
					<td>
					<input type="submit" value="Přihlásit se">
					</td>
					</tr>
				</table>
				</form>
				</div>
			</div>
		</div>
	</div>
	<div id="paticka">
		<p>Light systém pro správu webového obsahu &nbsp;<span>|</span>&nbsp; Vytvořil Jan Herec v roce 2012, kontakt: herech@seznam.cz &nbsp;<span>|</span>&nbsp; <a href="#">Licence</a></p>
	</div>
</body>
</html>
<script>
$(function(){
	$("#horniMenu li").bind("mouseover", function() {
		$(this).find("a").css("background", "url('../img/hlavni-menu-background2.png')");	
	});
	$("#horniMenu li").bind("mouseout", function() {
		$(this).find("a").css("background", "url('../img/hlavni-menu-background.png')");	
	});
});
</script>