{block obsah}
				<div class="zarovnaniVlevo">
					<a n:href="nahraniSouboru" class="tlacitko odsadVlevo">Nahrát obrázek</a>
				</div>
				<div class="oddelovac"></div>
				<h1>Přehled médií</h1>
					<table class="tabulka-vypis-uzivatelu">
						<thead><tr><th>Název</th><th>Autor</th><th>Typ</th><th>Datum nahrání</th></tr></thead>
						<tbody>
							{if $media == false} 
							<tr><td colspan="4">Zatím nebyla nahrána žádná média</td></tr>

							{else}
							{foreach $media as $medium}                
							<tr><td><a href="{$medium->adresa}"><img src="{$medium->adresa}" width="50" height="50" class="miniatura"></a><strong>{if ($user->isInRole("Administrátor") && $medium->role_autora != "Administrátor" && $medium->role_autora != "Hlavní Administrátor") || ($user->isInRole("Šéfredaktor") && !$template->jePrvekVPoli("Šéfredaktor", $medium->pole_roli_autora)) || ($user->isInRole("Redaktor") && !$template->jePrvekVPoli("Redaktor", $medium->pole_roli_autora)) || ($user->isInRole("Hlavní Administrátor")) || ($user->id == $medium->id_autora)}<a n:href="upraveniMedia $medium->id" class="uzivatel">{$medium->nazev}</a>{else}<a href="" class="uzivatel">{$medium->nazev}</a>{/if}</strong><div class="hidden-tools">{if ($user->isInRole("Administrátor") && $medium->role_autora != "Administrátor" && $medium->role_autora != "Hlavní Administrátor") || ($user->isInRole("Šéfredaktor") && !$template->jePrvekVPoli("Šéfredaktor", $medium->pole_roli_autora)) || ($user->isInRole("Redaktor") && !$template->jePrvekVPoli("Redaktor", $medium->pole_roli_autora)) || ($user->isInRole("Hlavní Administrátor")) || ($user->id == $medium->id_autora)}<span><a n:href="upraveniMedia $medium->id" class="upravit">Upravit</a> | <a n:href="odstraneniMedia $medium->id" class="odstranit">Odstranit</a></span>{/if}</div></td><td>{$medium->login_autora}</td><td>{$medium->typ}</td><td>{$medium->datum_nahrani|date:'j. n. Y'}</td></tr>
							{/foreach}
							{/if}
						</tbody>
						<tfoot><tr><td></td><td></td><td></td><td></td></tr></tfoot>
					</table>						
{/block}
{block pomocneSkripty}
<script>
$(function(){


	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseover", function() {
		$(this).find(".hidden-tools span").css("display", "inline");	
	});
	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseout", function() {
		$(this).find(".hidden-tools span").css("display", "none");	
	});
	
	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseover", function() {
		$(this).find(".hidden-tools span").css("display", "inline");	
	});
	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseout", function() {
		$(this).find(".hidden-tools span").css("display", "none");	
	});
   
   $(".odstranit").bind("click", function(event) {
		//event.preventDefault();
		if (confirm('Opravdu si přejete danou položku odstranit?')) {
			return true;
		}
		else {
			return false;
		}
	});
});
</script>
{/block}