{block obsah}
				<div class="zarovnaniVlevo">
					<a n:href="vytvoreniNoveStranky" class="tlacitko odsadVlevo">Vytvořit novou stránku</a>
				</div>
				<div class="oddelovac"></div>
				<h1>Přehled Stránek</h1>
					<table class="tabulka-vypis-uzivatelu">
						<thead><tr><th>Název</th><th>Rubrika</th><th>Autor</th><th>Datum vytvoření</th><th>Datum poslední úpravy</th></tr></thead>
						<tbody>
                     {if $stranky == false} 
							<tr><td colspan="5">Zatím nebyly vytvořeny žádné stránky</td></tr>
							{else}
                     {foreach $stranky as $stranka}
                     <tr><td><strong>{if ($user->isInRole("Administrátor") && !$template->jePrvekVPoli("Administrátor", $stranka->pole_roli_autora)) || ($user->isInRole("Šéfredaktor") && !$template->jePrvekVPoli("Šéfredaktor", $stranka->pole_roli_autora)) || ($user->isInRole("Redaktor") && !$template->jePrvekVPoli("Redaktor", $stranka->pole_roli_autora)) || ($user->isInRole("Hlavní Administrátor")) || ($user->id == $stranka->id_autora)}<a n:href="upraveniStranky $stranka->id" class="uzivatel">{$stranka->nazev}</a>{else}{$stranka->nazev}{/if}</strong><div class="hidden-tools">{if ($user->isInRole("Administrátor") && !$template->jePrvekVPoli("Administrátor", $stranka->pole_roli_autora)) || ($user->isInRole("Šéfredaktor") && !$template->jePrvekVPoli("Šéfredaktor", $stranka->pole_roli_autora)) || ($user->isInRole("Redaktor") && !$template->jePrvekVPoli("Redaktor", $stranka->pole_roli_autora)) || ($user->isInRole("Hlavní Administrátor")) || ($user->id == $stranka->id_autora)}<span><a n:href="upraveniStranky $stranka->id" class="upravit">Upravit</a> | <a n:href="odstraneniStranky $stranka->id" class="odstranit">Odstranit</a></span>{/if}</div></td><td>{$stranka->nadrazenaRubrika}</td><td>{$stranka->jmenoAutora}</td><td>{$stranka->datum_vytvoreni|date:'%d. %m. %Y'}</td><td>{$stranka->datum_posledni_upravy|date:'%d. %m. %Y'}</td></tr>
							{/foreach}
                     {/if}
							
						</tbody>
						<tfoot><tr><td></td><td></td><td></td><td></td><td></td></tr></tfoot>
					</table>			

{/block}
{block pomocneSkripty}
<script>
$(function(){

	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseover", function() {
		$(this).find(".hidden-tools span").css("display", "inline");	
	});
	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseout", function() {
		$(this).find(".hidden-tools span").css("display", "none");	
	});
	
	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseover", function() {
		$(this).find(".hidden-tools span").css("display", "inline");	
	});
	$("#telo3 .tabulka-vypis-uzivatelu tr").bind("mouseout", function() {
		$(this).find(".hidden-tools span").css("display", "none");	
	});
   
   $(".odstranit").bind("click", function(event) {
		//event.preventDefault();
		if (confirm('Opravdu si přejete danou položku odstranit?')) {
			return true;
		}
		else {
			return false;
		}
	});
   
});
</script>
{/block}