{block obsah}
				<h1>Vytvoření nové stránky</h1>
				<div class="sirka926px vytvoreni-stranky">
					{form vytvoreniStrankyForm}
               <ul class="errors" n:if="$form->hasErrors()">
                  <li n:foreach="$form->errors as $error">{$error}</li>
               </ul>
					<table>
						<tr>
						<td class="odd">
						{label nazev /}
						</td>
						<td class="even">
						{input nazev}				
						</td>
						</tr>
                  <tr>
						<td class="odd">
						{label nazevVUrl /}
						</td>
						<td class="even">
						{input nazevVUrl}				
						</td>
						</tr>
						<tr>
						<td class="odd">
						{label hiearchie /}
						</td>
						<td class="even">
                     <select n:input="hiearchie" disabled="true" style="width: 200px">
                     <option value="0" selected="selected">Žádná</option>
                     {!$rubriky}
                     </select>	
						</td>
						</tr>
					</table>
					{input obsahStranky}
					<div style="text-align:left;">
						{input vytvoritStranku style => 'margin-top: 20px;'}
					</div>
					{/form}
				</div>
            
{/block}
{block pomocneSkripty}			
<script type="text/javascript" src="{$baseUrl}/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
$(function(){
   $("select").change(function(){
      $("input[type=\"submit\"]").attr("disabled","true");
      $.get({link nactiUrl!}, { id: $(this).val() }, function(data) {
         if (data.url == "") {
            $("input[name=\"nazevVUrl\"]").val(make_url($("input[name=\"nazev\"]").val()));
         }
         else {
            $("input[name=\"nazevVUrl\"]").val(data.url + "/" + make_url($("input[name=\"nazev\"]").val()));
         }
         $("input[type=\"submit\"]").removeAttr("disabled");
          
      });
   });

      var nodiac = { 'á': 'a', 'č': 'c', 'ď': 'd', 'é': 'e', 'ě': 'e', 'í': 'i', 'ň': 'n', 'ó': 'o', 'ř': 'r', 'š': 's', 'ť': 't', 'ú': 'u', 'ů': 'u', 'ý': 'y', 'ž': 'z' };
      /** Vytvoření přátelského URL
      * @param string řetězec, ze kterého se má vytvořit URL
      * @return string řetězec obsahující pouze čísla, znaky bez diakritiky, podtržítko a pomlčku
      * @copyright Jakub Vrána, http://php.vrana.cz/
      */
      function make_url(s) {
          s = s.toLowerCase();
          var s2 = '';
          for (var i=0; i < s.length; i++) {
              s2 += (typeof nodiac[s.charAt(i)] != 'undefined' ? nodiac[s.charAt(i)] : s.charAt(i));
          }
          return s2.replace(/[^a-z0-9_]+/g, '-').replace(/^-|-$/g, '');
      }
   
   $("input[name=\"nazev\"]").keyup(function() {
      
     if ($("select").attr("value") != 0) {
            var value = $("input[name=\"nazevVUrl\"]").val();
            var value1 = $("input[name=\"nazev\"]").val();
            value1 = make_url(value1);
            
            value = value.replace(/^(.*)(\/)([^\/]*)$/,"$1$2"); 
            $("input[name=\"nazevVUrl\"]").val(value + value1);
      }
      else {
         var value = $("input[name=\"nazev\"]").val();
         value = make_url(value);
         $("input[name=\"nazevVUrl\"]").val(value);
      }
      if ($(this).val() != "") {
         $("select").removeAttr("disabled");
      }
      else {
         $("select").attr("disabled","true");
      }
   });

});	

	CKEDITOR.replace( 'obsahStranky',
    {
        filebrowserBrowseUrl : ""+ {$baseUrl} +"/ckfinder/ckfinder.html",
        filebrowserImageBrowseUrl : ""+ {$baseUrl} +"/ckfinder/ckfinder.html?Type=Images",
        filebrowserFlashBrowseUrl : ""+ {$baseUrl} +"/ckfinder/ckfinder.html?Type=Flash",
        filebrowserUploadUrl : ""+ {$baseUrl} +"/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files",
        filebrowserImageUploadUrl : ""+ {$baseUrl} +"/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images",
        filebrowserFlashUploadUrl : ""+ {$baseUrl} +"/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash"
    });
</script>
{/block}