﻿* {
padding: 0px;
margin: 0px;

}
img {
border:none;
}

.cleaner {
clear:both;
}

p.doplnujici-info {
	font-size: 90%;
	margin-top: 5px;
	color: rgb(130,150,170);
}

em.doplnujici-info {
	font-size: 90%;
	color: rgb(130,150,170);
}

img.miniatura {
float:left;
margin-right: 10px;
border:4px solid rgb(220,240,255);
} 

img.miniatura:hover{
border:4px solid rgb(200,225,240);
} 

body {
background: url("../images/body-background3.png");/*url("../images/body-background.png");*/
font-size: 100%;
font-family: "Arial", "Verdana";
}

label.required {
	font-weight: bold;
}

textarea {
	background: transparent;
	border: 1px solid rgb(200,220,230);
	border-radius: 7px;
	padding: 10px;
	font-size: 112%;
	width: 904px;
}



input, select{
	padding: 5px;
	font-size: 90%;
	font-family: "Arial";
	border: 1px solid rgb(170,190,210);
	border-radius: 4px; 
}

input[type="radio"] {
   border:none;
}

option {
	padding: 2px; 
}

option.option-level2 {
	padding-left: 15px;
}
input[type="submit"] {
	border-radius: 4px;
	padding: 5px;
	cursor: pointer;
	background: url("../images/input-background2.png");
	border: 1px solid rgb(170,180,200);
	color: #1d3b54;
	font-size: 80%;
}

.top {
	background: url("../images/top-background2.png");
	width: 100%;
	margin-top: -10px;
}

#subTop {
	background: url("../images/subhlavicka-background4.png");
	width: 100%;
}

	#hlavicka {
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 0px;
		/*background: blue;*/
		height: 110px;
		color: rgb(235,225,235);
	}
		#hlavicka-oddelovac {
			border-top: 1px solid rgb(255,255,255);
			border-bottom: 1px solid rgb(248,253,255);
			height: 1px;
			background: rgb(150,200,230);
		}

		#hlavicka-left {
			float:left;
			/*background: rgb(0,30,45);*/
			width: 70%;
			height:100%;
			text-align:left;
		}
			#hlavicka-left img{
				clear:both;
				float:left;
			}
		#hlavicka-right {
			/*float:right;
			width: 29%;*/
			/*background: rgb(0,190,210);*/
			/*height:auto;
			text-align:left;
			background: rgb(225,235,245);
			color: rgb(235,225,235);
			border: 1px solid rgb(185,205,218);
			border-radius: 20px;
			box-shadow: 0px 0px 5px rgb(180,180,180);*/
		}
		
			#hlavicka-right a {
			color: rgb(0,100,160);
			text-decoration: underline;
			display: block;
			float:right;
			margin-top: 30px;
			margin-right: 15px;
			}
		
#subHlavicka {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
	padding-top: 10px;
	height: 130px;
	color: rgb(235,225,235);
}

	#subHlavicka h1 {
		/*background: rgb(0,30,45);*/
		margin-top: 15px;
		float:left;
		clear:both;
		position:relative;
		margin-left: 45px;
		color: rgb(60,80,110);
		font-size: 165%;
      background: url("../images/administrace03.png");
      width: 284px;
      height: 40px;
	}
		
   @font-face {
    font-family: Androgyne; /* deklarace fontu */
    src: url("../fonts/Androgyne_TB.otf"); /* propojení na umístění souboru */
   }   
      @font-face {
    font-family: antigoni; /* deklarace fontu */
    src: url("../fonts/antigoni.ttf"); /* propojení na umístění souboru */
   } 
      
	#subHlavicka h2 {
		float:left;
		clear:both;
		/*background: rgb(0,30,45);*/
		margin-top: 10px;
		margin-left: 50px;
		color: rgb(250,120,50); /*rgb(30,190,230)*/
		font-size: 130%;
		font-family: antigoni,Arial;
      font-weight:bold;
		letter-spacing: 1px;
	}
   
   #subHlavicka h2 a {
		color: rgb(250,120,50); /*rgb(30,190,230)*/
      text-decoration:none;
	}
		
	.subHlavicka-right {
		float:right;
		width: auto;
		/*background: rgb(0,190,210);*/
		height:auto;
		text-align:left;
		/*background: rgb(225,235,245);*/
		color: black;
		/*border: 1px solid rgb(185,205,218);*/
		/*border-radius: 20px;*/
		margin-top: -35px;
		/*background: url("../images/subhlavicka-right-background.png");*/
	}
	
		.subHlavicka-oddelovac {
			border-left: 1px solid rgb(248,253,255);
			border-right: 1px solid rgb(248,253,255);
			width: 1px;
			background: rgb(150,200,230);
			height: 80px;
			float:left;
		}
		
		#subHlavicka-right-uzivatel {
			/*background: white;*/
			padding: 5px 20px 5px 20px;
			margin-top: 8px;
			line-height: 1.8;
			color: rgb(100,120,140);/*rgb(30,190,230)*/
		}
		#subHlavicka-right-odhlaseni {
			/*background: red;*/
			padding: 5px 20px 5px 20px;
			margin-top: 30px;
		}
		#subHlavicka-right-odhlaseni input {
			background: url("../images/input-background2.png");
			border: 1px solid rgb(170,180,200);
			color: #1d3b54;
			font-size: 80%;
		}

#horniMenu {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
	/*background: rgb(225,235,245);*/
	height: auto;
	/*border: 1px solid rgb(185,205,218);*/
	/*box-shadow: 0px 0px 5px rgb(180,180,180);*/
}

	#horniMenu ul {
		/*margin-top: 50px;*/
	}
	#horniMenu ul li {
		list-style-type: none;
		display:block;
		width: auto;
		padding-top: 5px;
		padding-bottom: 5px;
		float: left;
		background: url("../images/hlavni-menu-background.png");
		border-top: 1px solid rgb(120,170,200);
		border-bottom: 1px solid rgb(120,170,200);
	}
		#horniMenu ul li:first-child {
			border-top-left-radius: 7px;
			border-bottom-left-radius: 7px;
		}
		#horniMenu ul li:last-child{
			border-top-right-radius: 7px;
			border-bottom-right-radius: 7px;
		}
	#horniMenu ul li a{
		display: block;
		padding: 5px;
		padding-left: 25px;
		padding-right: 25px;
		background: url("../images/hlavni-menu-background.png");
		color: rgb(225,225,225);
		text-shadow: 1px 1px 1px rgb(0,0,0);
		width: auto;
		/*border-bottom: 1px solid silver;*/
		text-decoration: none;
		font-size: 110%;
		border-left: 1px solid rgb(75,80,85);
		border-right: 1px solid black;
	}
	#horniMenu ul li a:hover {
		background: orange;/*rgb(50,210,250);*/
		/*color: rgb(20,20,20);*/
		background: url("../images/hlavni-menu-background2.png");
	}
	#horniMenu ul li:hover{
		background: orange;/*rgb(50,210,250);*/
		/*color: rgb(20,20,20);*/
		background: url("../images/hlavni-menu-background2.png");
	}
	
	#horniMenu ul li a.current{
		background: url("../images/hlavni-menu-background2.png");
	}
	#horniMenu ul li.current{
		background: url("../images/hlavni-menu-background2.png");
	}

#teloZpravicek {
	width: 956px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
   margin-bottom: -40px;
   text-align:left;
   padding: 8px;
   padding-left: 60px;
	/*background: rgb(225,235,245);*/
	height: auto;
	color: black;
	border-radius: 4px;
	/*box-shadow: 0px 0px 5px rgb(180,180,180);*/
}   

div.success[id="teloZpravicek"] {
   border: 1px solid green;
   background: url("../images/flashZpravyPozitiv.png");  
}

div.error[id="teloZpravicek"] {
   border: 1px solid red;
   background: url("../images/flashZpravyNegativ.png");  
}

ul.errors li, ul.error li {
   background: url("../images/flashZpravyNegativ.png");
   border: 1px solid red;
   padding: 8px;
   text-align:left;
   padding-left: 60px;
   list-style-type: none;
}

#telo {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
	/*background: rgb(225,235,245);*/
	min-height: 400px;
	height: auto;
	color: rgb(235,225,235);
	border: 1px solid rgb(248,253,255);
	border-radius: 7px;
	/*box-shadow: 0px 0px 5px rgb(180,180,180);*/
}
		#telo2 {
		width: 1022px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		/*background: rgb(225,235,245);*/
		min-height: 398px;
		height: auto;
		color: rgb(235,225,235);
		border: 1px solid rgb(180,210,230);
		border-radius: 7px;
		/*box-shadow: 0px 0px 5px rgb(180,180,180);*/
	}
		#telo3 {
			width: 1020px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			/*background: rgb(225,235,245);*/
			min-height: 396px;
			height: auto;
			color: black;
			border: 1px solid rgb(248,253,255);
			border-radius: 7px;
			background: url("../images/telo3-background.png"); /*url("../images/telo3-background.png");*/
			padding: 20px 0px 30px 0px;
			/*box-shadow: 0px 0px 5px rgb(180,180,180);*/
		}
		
			#telo3 h1 {
				color: rgb(6,137,194);/*rgb(70,180,250);*//*rgb(120,180,210)*/
				text-align:left;
				font-size: 145%;
				margin-top: 15px;
				margin-left: 60px;
				margin-bottom: 20px;
			}
			
			#telo3 input[type="submit"] {
				/*background: url("../images/input-background2.png");*/
				/*border: 1px solid rgb(170,180,200);*/
				/*color: #1d3b54;*/
				font-size: 80%;
				background: url("../images/hlavni-menu-background2.png");
				color: rgb(225,225,225);
				text-shadow: 1px 1px 1px rgb(50,10,10);
				border: 1px solid rgb(150,50,0);
			}
         .oranzoveTlacitko {
            display: inline-block;
            font-size: 80%;
            border-radius: 4px;
            padding: 6px;
				text-decoration:none;
				background: url("../images/hlavni-menu-background2.png");
				color: rgb(225,225,225);
				text-shadow: 1px 1px 1px rgb(50,10,10);
				border: 1px solid rgb(150,50,0);
         }
         
			.tlacitko {
				background: url("../images/input-background2.png");
				border: 1px solid rgb(170,180,200);
				padding: 7px;
				text-decoration:none;
				color: #1d3b54;
				border-radius: 4px;
				font-size: 90%;
				display: inline-block;
			}
			
			#telo3 .odsadVlevo {
				/*margin-left: 50px;*/
			}
			
			#telo3 .oddelovac {
				border-top: 1px dashed rgb(180,210,230);
				border-bottom: 1px dashed white;
				width: 95%;
				margin: 20px auto 30px auto;
			}
			
			#telo3 .zarovnaniVlevo {
				width: 100%;
				padding-left: 50px;
				text-align: left;
			}
			
			#telo3 .sirka926px {
				width: 926px;
				margin-left: 50px;
			}
			
			#telo3 table.tabulka-vypis-uzivatelu {
				text-align:center;
				table-layout: fixed;
				border-spacing: 0;
				margin: 0 auto 0 auto;
				/*border-collapse:collapse;*/
				font-size: 95%;
				width: 924px;
				border-radius: 5px;
				border: 1px solid rgb(180,210,230);
			}
			#telo3 .tabulka-vypis-uzivatelu th{
				font-family: "Georgia";
				font-weight: normal;
				background:url("../images/table-th-background.png");
				text-shadow: 1px 1px 1px rgb(230,245,250);
				color: rgb(55,97,125);
			}
			
			#telo3 .tabulka-vypis-uzivatelu td{
				border-top: 1px solid rgb(180,190,220);
				background: transparent;
				color: #21465e;
			}
			
			#telo3 .tabulka-vypis-uzivatelu td a.uzivatel{
				text-decoration:none;
				color: #21465e;
			}
			
			#telo3 .tabulka-vypis-uzivatelu td a.uzivatel:hover {
				color: #266891;
			}
			
			#telo3 .tabulka-vypis-uzivatelu td a.upravit{
				color: #21465e;
				text-decoration:none;
				font-size: 80%;
			}
			
			#telo3 .tabulka-vypis-uzivatelu td a.upravit:hover{
				color: #266891;
			}
			
			#telo3 .tabulka-vypis-uzivatelu td a.odstranit{
				color: rgb(180,30,0);
				text-decoration:none;
				font-size: 80%;
			}
			
			#telo3 .tabulka-vypis-uzivatelu td a.odstranit:hover{
				color: rgb(240,80,0);
			}
			
			
			#telo3 .tabulka-vypis-uzivatelu td .hidden-tools {
				display:block;
				height: 12px;
				padding-top: 3px;
			}
			
			#telo3 .tabulka-vypis-uzivatelu td .hidden-tools span {
				display:none;
			}
			
			#telo3 .tabulka-vypis-uzivatelu th:first-child{
				border-top-left-radius: 4px;
			}
			#telo3 .tabulka-vypis-uzivatelu th:last-child{
				border-top-right-radius: 4px;
			}
			
			#telo3 .tabulka-vypis-uzivatelu tfoot  td{
				background:url("../images/table-th-background.png");
				padding: 5px;
			}
			
			#telo3 .tabulka-vypis-uzivatelu tfoot td:first-child{
				border-bottom-left-radius: 4px;
			}
			
			#telo3 .tabulka-vypis-uzivatelu tfoot td:last-child{
				border-bottom-right-radius: 4px;
			}
			
			#telo3 .tabulka-vypis-uzivatelu td, th {
				padding: 1% 0% 1% 2%;
				vertical-align: top;
				width: auto;
				text-align:left;
			}
			
         
         .tabulka-pridat-polozky-do-menu {
				text-align:center;
				table-layout: fixed;
				border-spacing: 0;
				margin: 0px;
            margin-right: 50px;
				/*border-collapse:collapse;*/
				font-size: 95%;
				width: 300px;
				border-radius: 5px;
				border: 1px solid rgb(180,210,230);
			}
			.tabulka-pridat-polozky-do-menu th{
				font-family: "Georgia";
				font-weight: normal;
				background:url("../images/table-th-background.png");
				text-shadow: 1px 1px 1px rgb(230,245,250);
				color: rgb(55,97,125);
			}
			
			.tabulka-pridat-polozky-do-menu td{
				border-top: 1px solid rgb(180,190,220);
				background: transparent;
				color: #21465e;
			}
		
			
			.tabulka-pridat-polozky-do-menu th:first-child{
				border-top-left-radius: 4px;
			}
			.tabulka-pridat-polozky-do-menu th:last-child{
				border-top-right-radius: 4px;
			}
			
			.tabulka-pridat-polozky-do-menu tfoot  td{
				background: transparent;
				padding: 10px;
			}
			
			.tabulka-pridat-polozky-do-menu tfoot td:first-child{
				border-bottom-left-radius: 4px;
			}
			
			.tabulka-pridat-polozky-do-menu tfoot td:last-child{
				border-bottom-right-radius: 4px;
			}
			
			.tabulka-pridat-polozky-do-menu td, th {
				padding: 8px 0% 8px 12px;
				vertical-align: top;
				width: auto;
				text-align:left;
			}
         
			
			#telo3 .vytvoreni-noveho-uzivatele table {
				border-spacing: 0;
				width: auto;
				padding: 15px 0px 0px 0px;
				margin-left: 50px;
				text-align:left;
				margin-top: 10px;
				border: 1px solid rgb(200,220,230);
				color: #21465e;
				border-radius: 7px;
				font-size: 95%;
			}
			
			#telo3 .vytvoreni-noveho-uzivatele table label{
				/*font-family: "Georgia";*/
				text-shadow: 1px 1px 1px rgb(240,250,255);
				color: rgb(35,77,105);
				font-size: 90%;
			}
			
			#telo3 .vytvoreni-noveho-uzivatele table td{
				padding: 12px 20px 12px 20px;
				border-top: 1px solid rgb(190,225,240);
				width: auto;
			}
			
			#telo3 .vytvoreni-noveho-uzivatele table tr:last-child {
				border-top: none;
				border-bottom: 1px solid rgb(190,225,240);
				width: 100%;
			}
			
			#telo3 .vytvoreni-noveho-uzivatele table tr{
				background: url(../images/vytvoreni-noveho-uzivatele-background-tr2.png);
			}
			#telo3 .vytvoreni-noveho-uzivatele table tr:last-child{
				background:none;
			}
			
			
			#telo3 .vytvoreni-noveho-uzivatele input[type="email"], #telo3 .vytvoreni-noveho-uzivatele input[type="text"],#telo3 .vytvoreni-noveho-uzivatele input[type="password"],#telo3 .vytvoreni-noveho-uzivatele input[type="file"] {
				width: 250px;
				background: url(../images/vytvoreni-noveho-uzivatele-background-input1.png);
				border: 1px solid rgb(180,215,225);
			}
			#telo3 .vytvoreni-noveho-uzivatele select {
				width: 262px;
				background: url(../images/vytvoreni-noveho-uzivatele-background-input1.png);
				border: 1px solid rgb(180,215,225);
			}
			#telo3 .vytvoreni-noveho-uzivatele option {
				background: transparent;
			}
			
			#telo3 .vytvoreni-noveho-uzivatele table table{
				border-spacing: 0;
				width: 100%;
				padding: 0px;
				margin-left: 0px;
				text-align:left;
				margin-top: 0px;
				border: 0px solid rgb(200,220,230);
				color: #21465e;
				border-radius: 7px;
				font-size: 95%;
			}
			
			#telo3 .vytvoreni-noveho-uzivatele table table tr{
				background: transparent;
				border: none;
			}
			
			#telo3 .vytvoreni-noveho-uzivatele table label{
				/*font-family: "Georgia";*/
				text-shadow: none;
				color: rgb(35,77,105);
				font-size: 90%;
			}
			
			#telo3 .vytvoreni-noveho-uzivatele table table td{
				padding: 0px;
				border: none;
				width: auto;
			}
			
			#telo3 .vytvoreni-noveho-uzivatele table table tr:last-child {
				border-top: none;
				border-bottom: none;
				width: auto;
			}
			
			#telo3 .hlavni-menu {
				text-align: left;
				margin-left: 50px;
				margin-top: 0px;
			}
				#telo3 .hlavni-menu .hlavni-menu-polozka-menu{
					display:block;
					padding: 5px;
					background: rgb(140,160,180);
					width: 200px;
					margin-top: 15px;
					margin-left: 0px;
					border-radius: 7px;
					font-size: 108%;
				}
            #telo3 .hlavni-menu ul { list-style-type: none; margin: 0; margin-left: 15px; padding: 0; width: 400px; }
            #telo3 .hlavni-menu ul:first-child { margin-left: 0px; }
            #telo3 .hlavni-menu ul li { 
               /*margin: 2px 3px 3px 2px; */
               /*padding: 0.4em; */
               padding-left: 1.9em; 
               font-size: 12px; 
               height: 18px; 
               display:block;
					padding: 8px;
               padding-left: 1.2em;
               border-radius: 4px;
               font-family: "Arial";
               color: rgb(250,250,250);
               text-shadow: 1px 1px 1px rgb(210,225,250);
               /*overflow: hidden;*/
            }
            #telo3 .hlavni-menu ul li.rubrika {
               border: 1px solid #398db8;
               text-shadow: 1px 1px 1px rgb(100,100,100);
               background: rgb(200,215,225);
               background: url("../images/obrRubriky1.png");
            } 
            
             #telo3 .hlavni-menu ul li.stranka {
               border: 1px solid #9cc6db;
               color: #195470;
               text-shadow: 1px 1px 1px rgb(240,240,250);
               background: rgb(180,180,200);
               background: url("../images/obrStranky1.png");
              /* border: 1px solid rgb(190,205,215);
               background: rgb(200,215,225);*/
            } 
            
            #telo3 .hlavni-menu li span { position: absolute; margin-left: -1.3em; }
			
         .sortable-placeholder {
            background: transparent;
            border: 1px dotted #398db8;
         }
         
         .pridatPolozkyDoMenu-obal {
            float:right;
            width: auto;
         }
         
         .hlavni-menu-obal {
            float:left;
            clear:right;
         }
         
         .pridatStrankyDoMenu {
            margin-top: 20px;
         }
         
         .scrollbar {
            overflow:hidden;
            height: 150px;
            margin-right: 10px;
            line-height: 1.4;
         }
         
         a.odstranitPolozkuZMenu{
            display:block;
            float:right;
            color:blue;
            font-size: 11px;
            text-decoration:none;
            text-shadow:1px 1px 1px rgb(200,200,210);
            font-family:"Tahoma";
         }
         
          a.odstranitPolozkuZMenu:hover{
            color:red;
         }
         
         .odstranitPolozkuZMenu img.dark { 
            display:block;
             border:none;
             position: relative;
         }
         .odstranitPolozkuZMenu img.light{ 
            border:none;
            display:block;
            position: relative;
         }
         

#telo-prihlaseniRegistrace {
	width: 424px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
	/*background: rgb(225,235,245);*/
	min-height: 300px;
	height: auto;
	color: rgb(235,225,235);
	border: 1px solid rgb(255,255,255);
	border-radius: 7px;	
}
	#telo2-prihlaseniRegistrace {
		width: 422px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		/*background: rgb(225,235,245);*/
		min-height: 298px;
		height: auto;
		color: rgb(235,225,235);
		border: 1px solid rgb(190,210,225);
		border-radius: 7px;
	}
		#telo3-prihlaseniRegistrace {
			width: 420px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			/*background: rgb(225,235,245);*/
			min-height: 296px;
			height: auto;
			color: #314457;
			border: 1px solid rgb(255,255,255);
			border-radius: 7px;
			background: url("../images/telo3-background.png");
			font-size: 105%; 
		}
			.telo3-prihlaseniRegistrace-hlavicka {
				background: url("../images/PrihlaseniRegistrace-Hlavicka.png");
				padding: 7px 0px 7px 0px;
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				border-bottom: 1px solid white;
				text-shadow: 1px 1px 1px rgb(50,50,50);
				color: rgb(255,255,255);
				font-size: 103%; 
			}
			.telo3-prihlaseniRegistrace-telo{
				text-align: left;
				margin-top: 20px;
				margin-bottom: 20px;
				margin-left: auto;
				margin-right: auto;
				width: 285px;
			}
				.telo3-prihlaseniRegistrace-telo input {
					margin-top: 10px;
					margin-bottom: 15px;
					border: 1px solid rgb(170,190,210);
					padding: 5px;
					border-radius: 4px; 
				}
					.telo3-prihlaseniRegistrace-telo input[type="text"], .telo3-prihlaseniRegistrace-telo input[type="email"], .telo3-prihlaseniRegistrace-telo input[type="password"] {
						width: 270px; 
					}
					.telo3-prihlaseniRegistrace-telo input[type="submit"] {
						background: url("../images/input-background2.png");
						border: 1px solid rgb(170,180,200);
						padding: 5px;
						text-decoration:none;
						color: #1d3b54;
						border-radius: 4px;
						font-size: 80%;
						display: inline-block;
					}

		#formularNoveHeslo {
			display:none;
		}
					
#paticka {
	text-align: left;
	width: 100%;
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
	background: url("../images/paticka-background.png");
	height: 35px;
	padding-top: 10px;
	color: rgb(210,230,250);
	border-top: 1px solid rgb(0,70,100);
	border-bottom: 1px solid rgb(0,70,100);
	margin-bottom: 100px;
	box-shadow: 5px 5px 5px rgb(180,180,180);
	text-shadow: 3px 3px 3px rgb(80,80,80);
}
	#paticka span {
		color: rgb(100,130,170);
	}
	#paticka a {
		text-decoration: underline;
		color: rgb(210,230,250);
	}
   
 /* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  top: 0px;
  left: 0px;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
.window {
  position:fixed;
  width:600px;
  height:400px;
  display:none;
  z-index:9999;
  background:white;
  border-radius: 10px;
}
#window-hlavicka {
   text-align:center;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding: 10px;
   font-family: "Arial","Tahoma","Verdana","Georgia";
   font-size: 110%;
	font-weight: bold;
	background:url("../images/table-th-background.png");
	text-shadow: 1px 1px 1px rgb(230,245,250);
	/*color: rgb(55,97,125);*/
   color: #00659c;
   border: 1px solid rgb(180,210,230);
} 

#window-hlavicka img {
   margin-top: -3px;
   float:right;
}
#window-telo {
   text-align:left;
   padding:20px;
   font-size: 100%;
}
#window-telo em {
   color: rgb(80,80,80);
   font-size: 95%;
   line-height: 1.5;
   display:block;
   border-bottom: 1px dashed rgb(80,80,80);
   padding-bottom: 20px;
}
 
/* Customize your modal window here, you can add background image too */
#dialog {
  /*width:375px;
  height:203px;
  background: blue;*/
}

.vytvoreni-stranky table:first-child {
   text-align: left;
   margin-bottom: 40px;
   margin-top: 20px;
}
.vytvoreni-stranky table label {
   margin-left:10px;
   font-family:Georgia;
   text-shadow: 1px 1px 1px rgb(230,245,250);
   color: rgb(55,97,125);
}

.vytvoreni-stranky table td.even {
   padding-left: 10px;
}

.vytvoreni-stranky table td.odd {
   padding-right: 20px;
   background:#b9ddeb;
   border-radius: 4px;
}

.vytvoreni-stranky table input[type="text"] {
   width: 750px;
   border-radius: 4px;
}
